/* Default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Fonts */
@font-face {
	font-family: 'NunitoSans';
	src: url('fonts/NunitoSans-Regular.woff2') format('woff2'),
			 url('fonts/NunitoSans-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'NunitoSans';
	src: url('fonts/NunitoSans-SemiBold.woff2') format('woff2'),
			 url('fonts/NunitoSans-SemiBold.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'NunitoSans';
	src: url('fonts/NunitoSans-Bold.woff2') format('woff2'),
			 url('fonts/NunitoSans-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/Comfortaa.woff2') format('woff2'),
			 url('fonts/Comfortaa.woff') format('woff');
	font-weight: 700;
}
/* H... */
h1 {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #FFFFFF;
}

h2 {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #272B38;
}

h4 {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #272B38;
}
/* Header */
header {
	display: flex;
	justify-content: center;
	padding: 15px 20px 15px 20px;
	position: relative;
	z-index: 2;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1146px;
}

nav {
	display: flex;
	gap: 64px;
}

nav a {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #272B38;
	text-decoration: none;
	transition: .1s ease-in-out;
}

nav a:hover {
	color: #467184;
}

.more-btn { 
	display: flex;
	gap: 7px;
	align-items: center;
	cursor: pointer;
	position: relative; 
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #272B38;
	text-decoration: none;
	border: none;
	background-color: transparent;
} 

.more-btn svg { 
	transition: transform 0.3s ease; 
} 

.more-btn.active svg { 
	transform: rotate(180deg); 
} 

.more-menu { 
	position: absolute; 
	top: 100%; 
	right: 0;
	margin-top: 8px; 
	width: 264px;
	opacity: 0; 
	border: 1px solid #E9EAEB;
	box-shadow: 0px 5px 24px 0px #1B000033;
	border-radius: 10px;
	transform: translateY(-15px); 
	transition: opacity 0.3s ease, transform 0.3s ease; 
	padding: 15px 25px 15px 0px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #FFFFFF;
	pointer-events: none; /* Отключение событий для скрытого меню */
} 

.more-btn.active .more-menu { 
	opacity: 1; 
	transform: translateY(0);
	pointer-events: auto; /* Включение событий для видимого меню */
}

.more-menu a { 
	display: block; 
	text-decoration: none; 
	text-align: right;
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #272B38;
} 

.more-menu a:last-child { 
	border-bottom: none; 
} 

.more-menu .add-link {
	color: #FF284C;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
}
/* Main */  
main {
	position: relative;
	z-index: 1;
	margin: 0px 0px 90px 0px;
}   

.slider-container {
	position: relative;
	width: 100%;
	max-width: 1440px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
}

.slides {
	display: flex;
	transition: transform .5s ease-in-out;
}

.slide {
	min-width: 100%;
	height: 500px;
}

.slide1 {
	background-image: url(image/bg-image.png);
	background-position: center;
	padding: 166px 0px 0px 147px;
}

.slide1 p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
	margin: 10px 0px 35px 0px;
}

.slide1 button {
	width: 136px;
	height: 50px;
	border-radius: 8px;
	background-color: #FF284C;
	border: none;
	font-family: 'NunitoSans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	cursor: pointer;
	transition: .1s ease-in-out;
}

.slide1 button:hover {
	background-color: #D10628;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.indicator-container {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: 10px;
}

.indicator {
	width: 50px;
	height: 3px;
	background-color: #B7B7B7;
	border-radius: 5px;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

.indicator.active {
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
}

.nav-button:hover {
	background-color: #FFFFFF33;
	transition: .2s ease-in-out;
}

.prev {
	left: 0px;
	height: 100%;
	padding: 0px 20px 0px 15px;
}

.next {
	right: 0px;
	height: 100%;
	padding: 0px 15px 0px 20px;
}
/* Section */
/* Services */
.services {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0px 0px 90px 0px;
}

.services-container {
	padding: 0px 20px 0px 20px;
}

.services-container h2 {
	text-align: center;
}

.services-cards {
	width: 100%;
	max-width: 1146px;
	margin: 40px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.services-big-cards {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.services-big-cards .services-card {
	width: 100%;
	max-width: 558px;
}

.services-little-cards {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.services-little-cards .services-card {
	width: 100%;
	max-width: 362px;
}

.services-card {
	background-color: #E9EAEB;
	border-radius: 10px;
	overflow: hidden;
}

.services-card img {
	border-radius: 10px;
}

.services-card-information {
	padding: 25px;
	border-radius: 0px 0px 10px 10px;
}

.services-card-information h4 {
	margin-bottom: 10px;
}

.services-card-container {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.services-card-block {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.services-card-block p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #7E8189;
}

.services-card-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.services-card-buttons button {
	border-radius: 8px;
	padding: 10px 20px 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'NunitoSans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.services-card-buttons .price {
	background-color: #467EDB;
	transition: .1s ease-in-out;
}

.services-card-buttons .price:hover {
	background-color: #0d6aff;
}

.services-card-buttons .order {
	background-color: #55BC44;
	transition: .1s ease-in-out;
}

.services-card-buttons .order:hover {
	background-color: #24ff02;
}
/* Work */
.work {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0px 0px 90px 0px;
}

.work-container {
	width: 100%;
	max-width: 1146px;
	display: flex;
	justify-content: space-between;
	gap: 128px;
}

.work-information {
	width: 100%;
	max-width: 362px;
	margin: 30px 0px 0px 0px;
}

.work-information p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #7E8189;
	margin: 12px 0px 30px 0px;
}

.work-information button {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	border: 2px solid #272B38;
	cursor: pointer;
}

.work-cards {
	width: 100%;
	max-width: 1146px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.work-card {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 656px;
	background-color: #E9EAEB;
	border-radius: 10px;
}

.work-card-block {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	background-color: #272B38;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-card-block-main {
	background-color: #FF284C;
}

.work-card-information {
	padding: 0px 0px 0px 40px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.work-card-information p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #7E8189;
}
/* Advantages */
.advantages {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0px 0px 90px 0px;
}

.advantages-container {
	width: 100%;
	max-width: 1146px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.advantages-cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1146px;
	gap: 10px;
	margin: 40px 0px 0px 0px;
}

.advantages-card-block {
	width: 65px;
	height: 65px;
	border-radius: 10px;
	background-color: #FF284C;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px -45px 50px;
	position: relative;
	z-index: 2;
}

.advantages-card-container {
	width: 166px;
	height: 166px;
	border-radius: 10px;
	background-color: #E9EAEB;
	display: flex;
	align-items: center;
	justify-content: end;
	flex-direction: column;
	padding: 0px 0px 22px 0px;
	position: relative;
	z-index: 1;
}

.advantages-card-information {
	width: 100%;
	max-width: 128px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.advantages-card-information span {
	display: flex;
	justify-content: center;
	font-family: 'NunitoSans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #272B38;
}

.advantages-card-information p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #7E8189;
	text-align: center;
}
/* About */
.about {
	display: flex;
	justify-content: end;
	margin: 0px 0px 100px 0px;
}

.about-container {
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 100%;
	max-width: 1146px;
	margin: 0 auto;
}

.about-information {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	max-width: 800px;
}

.about-information span {
	color: #FF284C;
}

.about-information p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #7E8189;
	width: 100%;
	max-width: 362px;
}
/* Footer */
footer {
	background-color: #272B38;
}

.footer-container {
	width: 100%;
	max-width: 1146px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 40px 20px 40px 20px;
}

.footer-left-blocks {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 35px 0px 0px 0px;
}

.footer-left-block {
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer-left-block p {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #FFFFFF;
}

.footer-mid {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 380px;
}

.footer-link {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-link span {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	margin: 0px 0px 10px 0px;
}

.footer-link a {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #7E8189;
	text-decoration: none;
	transition: .1s ease-in-out;
}

.footer-link a:hover {
	color: #979fb6;
}

.footer-right {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 40px;
}

.footer-right-block {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 6px;
}

.footer-right-block span {
	font-family: 'NunitoSans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #FFFFFF;
}

.footer-right-block button {
	background-color: transparent;
	border: none;
	font-family: 'NunitoSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	transition: .1s ease-in-out;
}

.footer-right-block button:hover {
	text-decoration: underline;
}

.footer-socials {
	display: flex;
	align-items: center;
	gap: 13px;
	text-decoration: none;
}